.container{
    max-width: 1200px;
    margin: 0px auto;
}
header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.menu{
   margin: 0;
   padding: 0;
}
.menu li{
    position: relative;
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    margin-right: 40px;
    padding-bottom: 0px;
}
.menu li a{
    text-decoration: none;
    font-family:  "Oswald", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #111111;
}
.menu li:hover a{
    color: #f45d96;
}
.menu li:first-child a{
    color: #f45d96;
}
.menu li h1{ /*các icon*/
    font-size: 15px;
    color: rgb(116, 116, 116);
    font-weight: 200;
    position: absolute;
    display: inline-block;
    top: -10px;
    left: 40px;
}
.menu li h1 span{
    color: #f45d96;
}

.sub-menu{
    left: 0px;
    top: 20px;
    margin: 0;
    padding: 5px 20px 5px 15px;
    position: absolute;
    background-color: #052336;
    

}
.sub-menu li{
    list-style: none;
    width: 80px;
    height: 30px;
}
.sub-menu li a{
    text-decoration: none;
    color: white;
    font-size: 10px;
}
.sub-menu li a:first-child{
    color: #fff;
}
.menu li:hover .sub-menu{
    display: block;
}




