.container{
    max-width: 1200px;
    margin: 0px auto;
}
header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.brand{
    margin-top: -4px;
    color: #000;
    font-weight: 700;
    display: block;
    text-decoration: none;
}
.heading{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Pacifico, sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 40px;
}
.menu{
   margin: 0;
   padding: 0;
}
.menu li{
    position: relative;
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    margin-right: 40px;
    padding-bottom: 0px;
}
.menu li a{
    text-decoration: none;
    font-family:  "Oswald", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #6c6c6c;
}
.image-4{
    position: absolute;
    left: -30px;
    bottom: -5px;
    color: #6c6c6c;
}
.menu li:hover a{
    color: #000;
}
.menu li:first-child a{
    color: #ac1313;
}

.hero-section{
    height: 100vh;
    color: rgba(0, 0, 0, 0);
    background-image: url(/pompeo/nền.jpg);
    background-repeat: repeat,no-repeat;
    align-items: center;
    padding-top: 5%;
    display: flex;
}
.hero-div h1{
    color: #ac1313;

}
.hero-div p{
    color: #000;
}
.hero-div h2{
    color: #6c6c6c;
}
.left-block.hero{
    flex-direction: row;
    align-items: center;
}
.left-block{
    text-align: left;
    display: flex;
}

.hero-image-div{
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}
.hero-image{
    width: 1000px;
    height: 500px;
    background-image: url(/pompeo/nền\ 1.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 800px;
    margin-left: -196px;
}